.n-wrap {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

.n-header {
  color: white;
}

.n-display {
  background-color: goldenrod;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90% !important;
  position: relative;

  & .number {
    display: none;
    list-style: none;
    padding: 0 1rem;
    position: relative;
    top: -5rem !important;

    & li {
      display: inline-block;
      font-size: 9rem;//800%;
    }
  }
}

